@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
}
a {
    font-style: none;
    border: none;
    font-weight: 500;
    font-family: 'Lexend Deca', sans-serif;
	cursor:pointer;
}
$card01: hsl(31, 77%, 52%);
$card02: hsl(184, 100%, 22%);
$card03: hsl(179, 100%, 13%);
$pcolor: hsla(0, 0%, 100%, 0.75);
$hcolor: hsl(0, 0%, 95%);

body {
    font-family: 'Lexend Deca', sans-serif;
}
.card__container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 18rem 18rem 18rem;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.card {
    padding: 2.5rem 3rem;
}
.card01 {
    background-color:$card01;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.card01 a {
    color:$card01;
}
.card02 {
    background-color:$card02;
}
.card02 a {
    color:$card02;
}
.card03 {
    background-color:$card03;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.card03 a {
    color:$card03;
}

.card__title h2 {
    color:$hcolor;
    margin-top: 1.5rem;
    font-size: 2.25rem;
    font-family: 'Big Shoulders Display', cursive;
}

.card__content p {
    font-size: .9rem;
    margin-top: 1rem;
    line-height: 1.5rem;
    width: 12.5rem;
    color:$pcolor;
}

.card__button {
    margin-top: 5rem;
}

.card__button a {
    border-radius: 50px;
    padding: .9rem 1.5rem;
	border: 2px solid $hcolor;
    transition: 0.4s;
    background-color: white;
}

.card__button a:hover {
    background: none;
    color: $hcolor;
}

@media (max-width:900px) {

    .card__button {
        margin-top: 2rem;
    }

    .card__container {
        grid-template-columns: 18rem;
        margin-top: 0vh;
        transform: translateY(0%);
    }
    .card01 {
        margin-top: 15vh;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
    }
    .card03 {
        margin-bottom: 15vh;
        border-top-right-radius:0px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}